import React from "react";
import styled from "styled-components";

const StyledBackground = styled.div`
  width: 1512px;
  height: 2486px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #F9E8F8;
`;

const StyledShutterstock2438806991768x5121 = styled.div`
  width: 1060px;
  height: 707px;
  left: -67px;
  top: -2px;
  position: absolute;
`;

const StyledTESTO = styled.div`
  width: 1512px;
  height: 148px;
  left: 19px;
  top: 878px;
  position: absolute;
`;

const StyledWhatsAppImage20240403at104102AM11 = styled.img`
  width: 544px;
  height: 544px;
  left: -150px;
  top: -92px;
  position: absolute;
`;

const StyledScreenshot2021 = styled.div`
  width: 1129.44px;
  height: 635px;
  left: -369px;
  top: -161px;
  position: absolute;
`;

const StyledWhatsAppImage20240403at104100AM11 = styled.img`
  width: 480px;
  height: 360px;
  left: -123px;
  top: -47px;
  position: absolute;
`;

const StyledScreenshot2031 = styled.div`
  width: 1095.65px;
  height: 616px;
  left: -374px;
  top: -151px;
  position: absolute;
`;

const StyledCode1notallisforgottensomethingshidespan01 = styled.span`
  color: #FF0000;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
`;

const StyledCode1notallisforgottensomethingshidespan02 = styled.span`
  color: black;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
`;

const StyledCode2findameaningamidstthechaosspan01 = styled.span`
  color: #00FF37;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
`;

const StyledCode2findameaningamidstthechaosspan02 = styled.span`
  color: black;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
`;

const StyledCode3tandingtalllikethetowersandlayingdownlikethecanalsspan01 = styled.span`
  color: #2B01FF;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
`;

const StyledCode3tandingtalllikethetowersandlayingdownlikethecanalsspan02 = styled.span`
  color: black;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
`;

const StyledScreenshot2041 = styled.div`
  width: 1204.14px;
  height: 677px;
  left: -407px;
  top: -165px;
  position: absolute;
`;

const StyledBackground01 = styled.div`
  width: 1512px;
  height: 226px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #FFECA2;
`;

const StyledVector = styled.div`
  width: 28px;
  height: 28px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: black;
`;

const StyledLinkbacktotopspan = styled.span`
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 300;
  word-wrap: break-word;
`;

const StyledContattispan = styled.span`
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 49px;
  word-wrap: break-word;
`;

const StyledFromthepastspan = styled.span`
  color: black;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 49px;
  word-wrap: break-word;
`;

const StyledEchoesspan = styled.span`
  color: black;
  font-size: 48px;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 49px;
  word-wrap: break-word;
`;

const StyledContainer11 = styled.div`
  width: 313px;
  height: 313px;
  left: -1px;
  top: 338px;
  position: absolute;
  overflow: hidden;
`;

const StyledHeader = styled.div`
  width: 1512px;
  height: 221px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #FFECA2;
`;

const StyledContainer = styled.div`
  width: 1512px;
  height: 0.01px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledContainer04 = styled.div`
  width: 980px;
  height: 798px;
  left: 266px;
  top: 1px;
  position: absolute;
  overflow: hidden;
`;

const StyledContainer09 = styled.div`
  width: 313px;
  height: 313px;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: hidden;
  outline: 2px #FF0000 solid;
  outline-offset: -2px;
`;

const StyledContainer10 = styled.div`
  width: 313px;
  height: 313px;
  left: 667px;
  top: 0px;
  position: absolute;
  overflow: hidden;
  outline: 2px #2B01FF solid;
  outline-offset: -2px;
`;

const StyledContainer12 = styled.div`
  width: 313px;
  height: 313px;
  left: 333px;
  top: 333px;
  position: absolute;
  overflow: hidden;
  outline: 2px #00FF37 solid;
  outline-offset: -2px;
`;

const StyledFrame = styled.div`
  width: 28px;
  height: 28px;
  left: -3px;
  top: 0px;
  position: absolute;
`;

const StyledFOTO1 = styled.div`
  width: 1512px;
  height: 800px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledContainer08 = styled.div`
  width: 980px;
  height: 646px;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: hidden;
`;

const StyledContainer15 = styled.div`
  width: 22px;
  height: 28px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledRegion = styled.div`
  width: 980px;
  height: 646px;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: hidden;
`;

const StyledContainer07 = styled.div`
  width: 980px;
  height: 646px;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: hidden;
`;

const StyledContainer14 = styled.div`
  align-self: stretch;
  height: 321px;
  min-height: 321px;
  position: relative;
`;

const StyledContainer06 = styled.div`
  width: 980px;
  height: 646px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledContainer13 = styled.div`
  align-self: stretch;
  height: 226px;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
`;

const StyledContainer05 = styled.div`
  width: 980px;
  height: 657px;
  left: 266px;
  top: 5px;
  position: absolute;
`;

const StyledFooter01 = styled.div`
  width: 1512px;
  height: 226px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
`;

const StyledFOTO3 = styled.div`
  width: 1512px;
  height: 662px;
  left: 0px;
  top: 1086px;
  position: absolute;
`;

const StyledFooter = styled.div`
  width: 1510px;
  height: 226px;
  left: 2px;
  top: 1929px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
`;

const StyledContainer03 = styled.div`
  width: 1512px;
  height: 2042px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledMain = styled.div`
  width: 1512px;
  height: 2319px;
  left: 0px;
  top: 107px;
  position: absolute;
`;

const StyledContainer02 = styled.div`
  width: 1512px;
  height: 2269px;
  left: 0px;
  top: 217px;
  position: absolute;
  background: #FFECA2;
`;

const StyledContainer01 = styled.div`
  width: 1512px;
  height: 2486px;
  left: 0px;
  top: 0px;
  position: absolute;
`;

const StyledPROGETTO1 = styled.div`
  width: 1512px;
  height: 2486px;
  position: relative;
  background: white;
`;

export const Progetto1 = () => {
  return (
    <StyledPROGETTO1>
      <StyledContainer>
        <StyledBackground />
      </StyledContainer>
      <StyledContainer01>
        <StyledContainer02>
          <StyledMain>
            <StyledContainer03>
              <StyledFOTO1>
                <StyledContainer04>
                  <StyledShutterstock2438806991768x5121  src="https://placehold.co/1060x707"/>
                </StyledContainer04>
              </StyledFOTO1>
              <StyledTESTO />
              <StyledFOTO3>
                <StyledContainer05>
                  <StyledContainer06>
                    <StyledContainer07>
                      <StyledRegion>
                        <StyledContainer08>
                          <StyledContainer09>
                            <StyledWhatsAppImage20240403at104102AM11  src="https://placehold.co/544x544"/>
                            <StyledScreenshot2021  src="https://placehold.co/1129x635"/>
                          </StyledContainer09>
                          <StyledContainer10>
                            <StyledWhatsAppImage20240403at104100AM11  src="https://placehold.co/480x360"/>
                            <StyledScreenshot2031  src="https://placehold.co/1096x616"/>
                          </StyledContainer10>
                          <StyledContainer11>
                            <StyledCODE1NotallisforgottenSomethingshide><StyledCode1notallisforgottensomethingshidespan01>CODE 1<br/></StyledCode1notallisforgottensomethingshidespan01><StyledCode1notallisforgottensomethingshidespan02>Not all is forgotten. Some things hide...</StyledCode1notallisforgottensomethingshidespan02></StyledCODE1NotallisforgottenSomethingshide>
                          </StyledContainer11>
                          <StyledCODE2Findameaningamidstthechaos><StyledCode2findameaningamidstthechaosspan01>CODE 2<br/></StyledCode2findameaningamidstthechaosspan01><StyledCode2findameaningamidstthechaosspan02>Find a meaning amidst the chaos.</StyledCode2findameaningamidstthechaosspan02></StyledCODE2Findameaningamidstthechaos>
                          <StyledCODE3tandingtalllikethetowersandlayingdownlikethecanals><StyledCode3tandingtalllikethetowersandlayingdownlikethecanalsspan01>CODE 3<br/></StyledCode3tandingtalllikethetowersandlayingdownlikethecanalsspan01><StyledCode3tandingtalllikethetowersandlayingdownlikethecanalsspan02>tanding tall like the towers and laying down like the canals</StyledCode3tandingtalllikethetowersandlayingdownlikethecanalsspan02></StyledCODE3tandingtalllikethetowersandlayingdownlikethecanals>
                          <StyledContainer12>
                            <StyledScreenshot2041  src="https://placehold.co/1204x677"/>
                          </StyledContainer12>
                        </StyledContainer08>
                      </StyledRegion>
                    </StyledContainer07>
                  </StyledContainer06>
                </StyledContainer05>
              </StyledFOTO3>
            </StyledContainer03>
            <StyledFooter>
              <StyledFooter01>
                <StyledContainer13>
                  <StyledBackground01 />
                  <StyledContainer14>
                    <StyledContainer15>
                      <StyledFrame>
                        <StyledVector />
                      </StyledFrame>
                    </StyledContainer15>
                    <StyledLinkBacktoTop>Back to Top</StyledLinkBacktoTop>
                  </StyledContainer14>
                </StyledContainer13>
              </StyledFooter01>
            </StyledFooter>
          </StyledMain>
        </StyledContainer02>
      </StyledContainer01>
      <StyledHeader>
        <StyledContatti>Info</StyledContatti>
        <StyledFromthepast>From the past</StyledFromthepast>
        <StyledECHOES>ECHOES</StyledECHOES>
      </StyledHeader>
    </StyledPROGETTO1>
  );
};
